.hamburger-menu{
    margin: 0;
    width: 200px;
    right: -250px;
    position: fixed;
    transition: right .75s ease;
    height: 100vh;
    background: #373a47;
    z-index: 1100;
}

#hamburger-wrapper i:hover{
    cursor: pointer;
}

.opened{
    right: 0;
}
.fa-bars{
    position: absolute;
    right: 3%;
    top: 30px;
    font-size: 25px;
    color: #fff;
}

.hamburger-links-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0 0 0;
}

.hamburger-link{
    position: relative;
}

.hamburger-link a{
    font-size: 19px;
}

.ham-link-active a, .ham-link-active i{
    color: #5755d9 !important;
}

.hamburger-link a, .hamburger-link i{
    color: #b4bad2;
}

.hamburger-link i{
    margin-right: 5px;
}

.hamburger-link:hover a, .hamburger-link:hover i{
    color: #5755d9;
}

.hamburger-link a:hover , .hamburger-link a:focus, .hamburger-link a:visited{
    text-decoration: none;
}

.hamburger-link .label{
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: -43px;
}

.fa-times{
    color: #b4bad2;
    font-size: 27px;
    margin-top: 10px;
    margin-left: 12px;
}

.fa-hand-spock{
    font-size: 25px;
}

#hamburger-shadow{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}