.add-topic-button{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0 5px;
}

.add-topic-button-wrapper{
    position: relative;
}

.add-topic-button p {
    margin: 0;
}

.add-topic-modal{
    border: 1px solid #FFF624;
    background: #FFF5C3;
    position: absolute;
    top: 30px;
    padding: 20px;
}

.add-topic-modal input{
    border: none;
    padding-left: 7px;
}

.add-topic-modal button{
    margin-top: 9px;
    border: none;
    background: #FFF624;
}