.fa-inbox{
    width: 300px !important;
    height: 300px !important;
}

.empty-messages-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}

.no-messages-label{
    font-size: 20px;
}