.search-bar{
    margin-right: 10px;
    position: relative;
}
.search-results-wrapper{
    position: absolute;
    top: 20px;
    display: flex;
    width: 300px;
    right: .1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #5755d9;
}

.search-results-wrapper .topic-title{
    width: 100%;
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid #5755d9;
}