.topic-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topic-list-title{
    font-size: 22px;
    padding: 0 24px;
    margin-bottom: 15px;
}