.navbar-main{
    align-items: center;
    background: #5755d9;
    height: 80px;
}

.btn-navbar{
    color: #ffffff !important;
}

.wrapper{
    margin-right: 25%;
    position: relative;
}

.registered-navbar-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}