#greeting{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#website-info, #dact, #cer{
    font-size: 22px;
}

.greeting-button {
    border: 1px solid #5755d9;
    border-radius: 5px;
    padding: 7px;
    font-size: 20px;
}